[Unit]
Description=Github Actions Runner
After=network.target
ConditionPathExists=/home/runner/actions-runner/.runner

[Service]
User=runner
WorkingDirectory=/home/runner/actions-runner
ExecStart=/home/runner/actions-runner/run.sh

CapabilityBoundingSet=
RestrictNamespaces=~cgroup
RestrictNamespaces=~ipc
RestrictNamespaces=~mnt
RestrictNamespaces=~net
RestrictNamespaces=~pid
RestrictNamespaces=~user
RestrictNamespaces=~uts

NoNewPrivileges=yes
IPAddressDeny=10.0.0.0/8 172.16.0.0/12 192.168.0.0/16
DeviceAllow=char-dma_heap
DeviceAllow=char-gpiochip
DeviceAllow=char-video4linux
DevicePolicy=closed

# Needed to boot?
# MemoryDenyWriteExecute=yes

InaccessiblePaths=/dev/shm
SystemCallArchitectures=native

SystemCallFilter=~memfd_create
SystemCallFilter=~@clock
SystemCallFilter=~@debug
SystemCallFilter=~@module
SystemCallFilter=~@mount

SystemCallFilter=~@privileged
SystemCallFilter=fchownat

SystemCallFilter=~@raw-io
SystemCallFilter=~@reboot

SystemCallFilter=~@resources
SystemCallFilter=sched_setaffinity
SystemCallFilter=sched_setscheduler

SystemCallFilter=~@swap


SystemCallLog=~

PrivateTmp=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes

ProtectKernelLogs=yes
ProtectSystem=strict

RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictRealtime=yes
LockPersonality=yes
PrivateMounts=yes
ProtectHostname=yes
RestrictSUIDSGID=yes
ProtectClock=yes
ProtectProc=invisible
ProcSubset=pid

[Install]
WantedBy=multi-user.target
