[Unit]
Description=Github Actions Runner
After=network.target

# ./config.sh will create .runner and store the credentials there. If it's not
# there it means the device hasn't been configured yet and we can just skip the
# runner launch.
ConditionPathExists=/home/runner/actions-runner/.runner

[Service]
User=runner
WorkingDirectory=/home/runner/actions-runner
ExecStart=/home/runner/actions-runner/run.sh

# Prevent the Runner from changing its execution domain
LockPersonality=yes

# The Runner and its jobs should never gain any privilege on the system
NoNewPrivileges=yes

# Prevent the runner from loading any module
ProtectKernelModules=yes

# Prevent the runner from accessing the kernel logs
ProtectKernelLogs=yes

# Prevent the runner from accessing any of the kernel variables under /proc and
# /sys
ProtectKernelTunables=yes

# Mount the entire file-system but /dev, /sys and /proc as read-only
ProtectSystem=strict

# Make /sys/fs/cgroup read-only
ProtectControlGroups=yes

# Hide everything under /proc that doesn't belong to a process from the same user
ProtectProc=invisible

# Hide everything under /proc that belongs to another PID
ProcSubset=pid

# Isolate /tmp and /var/tmp from the rest of the system
PrivateTmp=yes

# Prevent the runner from writing to the hardware clock or system clock
ProtectClock=yes

# Create a new UTS namespace and prevent any change to the hostname
ProtectHostname=yes

# Isolate all mount operations into their own namespace for the Runner
PrivateMounts=yes

# Deny any access from the Runner and its jobs to devices but for DMA Heaps,
# GPIOs, v4l2 devices, /dev/null, /dev/zero, /dev/random and /dev/urandom
DeviceAllow=char-dma_heap
DeviceAllow=char-gpiochip
DeviceAllow=char-video4linux
DevicePolicy=closed

# The runner can only use UNIX, IPv4 and IPv6 sockets
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6

# Deny any access to the local network from the Runner and its jobs
IPAddressDeny=10.0.0.0/8 172.16.0.0/12 192.168.0.0/16

# Make sure the Runner cannot set the SID and GID bits on files or directories
RestrictSUIDSGID=yes

# Make sure that the Runner can only issue native syscalls
SystemCallArchitectures=native

# The Runner doesn't need any capabilities so we can just drop them
CapabilityBoundingSet=

# Prevent the Runner from using any Linux Namespace
RestrictNamespaces=true

# Prevent the Runner and its jobs to issue most syscalls. The definition of the 
# syscall groups can be found here: 
# https://github.com/systemd/systemd/blob/main/src/shared/seccomp-util.c
 
SystemCallFilter=@system-service
SystemCallFilter=~@keyring
SystemCallFilter=~@memlock
SystemCallFilter=~@setuid

[Install]
WantedBy=multi-user.target
