[Unit]
Description=DNS/TFTP Server
Before=nss-lookup.target
Wants=nss-lookup.target
After=network.target

[Service]
User=runner
StateDirectory=dnsmasq
WorkingDirectory=/home/runner/tftp
ExecStart=/usr/sbin/dnsmasq --conf-file=${HOME}/tftp/config/dnsmasq.conf --dhcp-leasefile=${STATE_DIRECTORY}/dhcp-leases
Type=forking

CapabilityBoundingSet=CAP_NET_ADMIN
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_RAW

AmbientCapabilities=CAP_NET_ADMIN
AmbientCapabilities=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_RAW

NoNewPrivileges=yes
PrivateDevices=yes

ProtectHome=tmpfs
BindPaths=/home/runner/tftp
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=noaccess
RestrictAddressFamilies=AF_INET AF_NETLINK AF_UNIX
SystemCallArchitectures=native
MemoryDenyWriteExecute=yes
RestrictSUIDSGID=yes
ProtectSystem=strict
RestrictNamespaces=yes

SystemCallFilter=@system-service
SystemCallFilter=~@aio
SystemCallFilter=~@keyring
SystemCallFilter=~@privileged
SystemCallFilter=~@setuid
SystemCallFilter=~@timer

ProtectHostname=yes
LockPersonality=yes
RestrictRealtime=yes

[Install]
WantedBy=multi-user.target
